<div class="box">
  <div id="parent-effect" class="parent-effect">
    <div id="frame" class="frame">
    </div>
  </div>
  <div id="title-box" class="title-box">
    <div id="title">
      {{title}}
    </div>
    <ng-content select="[ngtitle]"></ng-content>
  </div>
  <div id="content" class="content">
    <ng-content></ng-content>
  </div>
</div>

<svg style="visibility: hidden; position: absolute;" width="0" height="0" version="1.1">
  <defs>
        <filter id="goo"><feGaussianBlur in="SourceGraphic" [attr.stdDeviation]="radius" result="blur" />    
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
        </filter>
    </defs>
</svg>