@use "@angular/material" as mat;

.box{
  margin-top: 12px;
  transition: all 250ms;
  position: relative;
  min-height: 30px;
  >.parent-effect{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: url('#goo');
    >.frame{
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgb(128, 129, 211);  
    } 
  }
  >.title-box{
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    width: fit-content;
    max-width: 100%;
    display: flex;
    gap: 5px;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    >#title{
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }
  }
  >.content{
    position: relative;
  }
}

@mixin lote-border($theme){
  $primary: none;
  $tertiary: none;
  @if mat.get-theme-type($theme) == dark {
    $primary: mat.get-theme-color($theme, primary, 30);
    $tertiary: mat.get-theme-color($theme, tertiary, 50);
  } @else {
    $primary: mat.get-theme-color($theme, primary, 80);
    $tertiary: mat.get-theme-color($theme, tertiary, 40);    
  }
  .box{
    >.parent-effect{
      >.frame{
        background: linear-gradient(145deg, $primary 0%, $tertiary) !important;
      }
    }
  }
}