div{
  &.box{
    min-width: 40px;
    min-height: 40px;
    position: relative;
    margin: 8px 0px;
  }
  &.legend-box{
    position: absolute;
    background-color: var(--bg);
    box-shadow: 0px 0px 2px 1px var(--bg);
    border-radius: 0px;
    width: fit-content;
    height: 30%;
    display: flex;
    margin-top: -2px;
    margin-left: 10px;
  }
  &.title{
    margin: 0px 5px;
    margin-top: -14px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  &.content{
    padding: 5px;
    position: relative;
    z-index: 1;
  }
}
