@mixin variableSpinAnimation() {
  @keyframes variable-spin {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }
    65% {
      transform: rotate(360deg);
      animation-timing-function: ease-in;
    }
    100% {
      transform: rotate(720deg);
      animation-timing-function: ease-in;
    }
  }
}
