$precision: 50;
$maxCols: 24;
.grid,
.grid-col,
.grid-row,
.grid-dense {
  display: grid;

  &[cols] {
    @include generate-column($precision, $maxCols, auto, auto);
  //   &[cols~="fr1"] {
  //     @include generate-column($precision, $maxCols, 1fr, 1fr);
  //   }
  //   &[cols~="min"] {
  //     @include generate-column($precision, $maxCols, min-content, min-content);
  //   }
  //   &[cols~="max"] {
  //     @include generate-column($precision, $maxCols, max-content, max-content);
  //   }
  }
  &[rows] {
    @include generate-row($precision, $maxCols, auto, auto);
  //   &[cols~="fr1"] {
  //     @include generate-row($precision, $maxCols, 1fr, 1fr);
  //   }
  //   &[cols~="min"] {
  //     @include generate-row($precision, $maxCols, min-content, min-content);
  //   }
  //   &[cols~="max"] {
  //     @include generate-row($precision, $maxCols, max-content, max-content);
  //   }
  }
}
.grid {
  &-col {
    grid-auto-flow: column;
  }
  &-row {
    grid-auto-flow: row;
  }
  &-dense {
    grid-auto-flow: dense;
  }
}
.con-h {
  justify-items: center;
  &-l {
    justify-items: left;
  }
  &-r {
    justify-items: right;
  }
}
.con-v {
  align-items: center;
  &-t {
    align-items: end;
  }
  &-b {
    align-items: baseline;
  }
}