@use 'utils' as *;
@use 'math' as *;

@mixin _setHeight($unit, $type) {
  #{attrContains(height, '&$', #{$i}#{$type})} {
    height: #{$unit}#{$type}
  }
  #{attrContains(height, '&$', min#{$i}#{$type})} {
    min-height: #{$unit}#{$type}
  }
  #{attrContains(height, '&$', max#{$i}#{$type})} {
    max-height: #{$unit}#{$type}
  }
}

@mixin HeightStructure($min: 0%, $default: max-content, $max: 100%) {
  [height] {
    height: $min;
    min-height: $default;
    max-height: $max;

    /* (0, 50, 100, 150, ...) */
    @each $i in valuesFromSteps(50, 0, 20) {
      /* Pixel */
      #{attrContains(height, '&$', $i)} {
        height: toPixel($i);
      }
    }

    /* (0, 5, 10, 15, ...) */
    @each $i in valuesFromSteps() {
      @include _setHeight(toPercent($i), '%');
      @include _setHeight(toVH($i), 'vh');
      @include _setHeight(toVW($i), 'vw');
    }
  }
}
