@use "@angular/material" as mat;

@function generate-selector-list($args...) {
  $selector: null;
  /* Percorrendo pelos lista de seletores */
  @each $class in $args {
    /* Transformando a lista de seletores em um unico seletor */
    @if $selector == null {
      $selector: $class
    }
    @else {
      $selector: $selector+', '+$class;
    }
  }
  /* Retornando resultado do seletor */
  @return $selector;
}

@mixin generate-grid($precision, $maxCols, $sizes, $attrs) {
  $selectors: null;

  @for $i from 1 through length($sizes) {
    $attr: nth($attrs, $i);
    $size: nth($sizes, $i);

    $selector: '&[cols~="#{$attr}"]';
    @if $selectors == null {
      $selectors: $selector
    }
    @else{
      $selectors: $selectors + ', #{$selector}'
    }    
    #{$selector} {
      grid-auto-columns: minmax(0px, $size);
      grid-template-columns: repeat(#{$precision}, minmax(0px, $size));
    }
  }

  #{generate-selector-list($selectors)}{
    /* Criando codigos ignorados no @For por causa de duplicação de codigo */
    [cols]{ 
      /* cols=* > col=1 */
      > [col~="1"]{
        @for $part from 1 through 19 {
          $percent: calc($part * 5);
          &[pct="#{$percent}"]{
            grid-column: 1 / span round($percent);
          }
        }
      }
      /* col=* > col=* &pct=100 */
      > [col][pct="100"]{
        grid-column: 1 / 100;
      }
      /* col=* > col=* &pct=0 */
      > [col][pct="0"]{
        display: none;
      }
    }

    @for $i from 1 through $maxCols {
      &[cols~="#{$i}"] {
        $columnSize: calc($precision / $i);        
        @for $column from 1 through $i {
          > [col~="#{$column}"] {
            $rawPos: calc($columnSize * ($column - 1));
            $pos: round(max($rawPos,1));
            grid-column: $pos / span round($columnSize);
            /* 
              evitando gerações de codigo para evitar duplicatas
              cols = col (gera codigo duplicado)
              col = 1    (gera codigo duplicado)
              pct = 100% (gera codigo duplicado)
              pct = 0%   (gera codigo duplicado)
             */
            @if $i != $column and $column > 1 {
              @for $part from 1 through 19 {
                $percent: calc($part * 5);
                &[pct="#{$percent}"]{
                  @if $i != 1 and $column != 1 {
                    $rawPos: calc((($precision - $percent) / ($i - 1)) * ($column - 1));
                    $pos: round(max($rawPos,1));
                  }
                  grid-column: $pos / span round($percent);
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin stickyStructure($theme) {
  $primary: none;
  $tertiary: none;
  $background: none;
  @if mat.get-theme-type($theme) == dark {
    $primary: mat.get-theme-color($theme, primary, 30);
    $tertiary: mat.get-theme-color($theme, tertiary, 50);
    $background: #ffffffcc;
  } @else {
    $primary: mat.get-theme-color($theme, primary, 80);
    $tertiary: mat.get-theme-color($theme, tertiary, 40);
    $background: #000000cc;
  }

  [sticky]{
    z-index: 1;
    position: sticky;
    top: 0;
    color: opacify(invert($background), 1);
    *{
      color: opacify(invert($background), 1);      
    }
    &::after{
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: $background;
      mask: linear-gradient(to top,rgba(0,0,0,0) 0%, $background 33%, $background 66%, rgba(0,0,0,0));
      backdrop-filter: blur(5px);
    }

    &[sticky~="top"]{
      mask: linear-gradient(to top,rgba(0,0,0,0) 0%, $background 33%, $background 66%, rgba(0,0,0,0));
      top: 0;
    }
    &[sticky~="bottom"]{
      mask: linear-gradient(to bottom,rgba(0,0,0,0) 0%, $background 33%, $background 66%, rgba(0,0,0,0));
      top: auto;
      bottom: 0;
    }
    &[sticky~="left"]{
      mask: linear-gradient(to left,rgba(0,0,0,0) 0%, $background 33%, $background 66%, rgba(0,0,0,0));
      top: auto;
      left: 0;
    }
    &[sticky~="right"]{
      mask: linear-gradient(to right,rgba(0,0,0,0) 0%, $background 33%, $background 66%, rgba(0,0,0,0));
      top: auto;
      right: 0;
    }
  }
}

@mixin padStructure($default) {
  [pad]{
    &[pad=""]{
      padding: $default;
    }
    &[pad~="bottom"]{
      padding-bottom: $default;
    }
    &[pad~="top"]{
      padding-top: $default;
    }
    &[pad~="left"]{
      padding-left: $default; 
    }
    &[pad~="right"]{
      padding-right: $default;
    }

    @for $i from 0 through 20 {
      &[pad~="#{$i}"]{
        &[pad~="bottom"]{
          padding-bottom: #{$i}px;
        }
        &[pad~="top"]{
          padding-top: #{$i}px;
        }
        &[pad~="left"]{
          padding-left: #{$i}px;
        }
        &[pad~="right"]{
          padding-right: #{$i}px;
        }
      }
    }
  }
}

@mixin flexStructure($defaultGap) {
  *{
    &:not([flex]>[flex]){
      &[flex]{
        display: flex;
      }
    }
  }

  [flex]{
    column-gap: $defaultGap;
    row-gap: $defaultGap;    

    transition: flex-basis 0.5s, width 0.5s, height 0.5s;
    text-wrap: nowrap;

    &[flex~="slow"]{
      transition: flex-basis 1s, width 1s, height 1s;
    }
    &[flex~="very-slow"]{
      transition: flex-basis 2s, width 2s, height 2s;
    }
    
    &[flex~="row"]{
      flex-flow: column;
    }
    &[flex~="on"]{
      display: flex;
    }

    &[flex~="center"]{
      margin: auto;
    }
    &[flex~="v-center"]{
      margin-top: auto;
      margin-bottom: auto;
    }
    &[flex~="h-center"]{
      margin-left: auto;
      margin-right: auto;
    }
    &[flex~="right"]{
      margin-left: auto;
    }

    &[flex~="border"]{
      border: 1px solid;
      border-radius: 10px;
      padding: $defaultGap;
    }

    
    &[flex~="grow"]{
      flex-grow: 1;
    }
    &[flex~="no-shrink"]{      
      flex-shrink: 0;
    }

    &[flex~="hide"]{
      overflow: hidden;
    }    
    &[flex~="scroll"]{
      overflow: auto;
    }
    &[flex~="scroll-y"]{
      overflow-y: auto;
      overflow-x: hidden;
    }
    &[flex~="scroll-x"]{
      overflow-x: auto;
      overflow-y: hidden;
    }

    @for $i from 0 through 20 {
      &[gap~="#{$i}"]{
        &[gap~="col"]{
          column-gap: #{$i}px;
        }
        &[gap~="row"]{
          column-gap: #{$i}px;
        }
      }
    }

    @for $i from 0 through 100 {
      &[flex~="#{$i}"]{
        $pct: percentage(calc($i/100));
        &[flex~="row"]{
          width: $pct;
        }
        &:not([flex~="row"]){
          flex-basis: $pct;
          width: 100%;
        }
      }
    }
  }
}

// #{generate-selector-list(
//   '.grid',
//   '.grid-col',
//   '.grid-row',
//   '.grid-dense')} {
//     *{
//       transition: all 1s;
//     }
//     display: grid;
//     $sizes: auto, 0fr, 1fr, min-content, max-content;
//     $attrsValues: 'auto', '0fr', '1fr', 'min', 'max';
//     @include generate-grid(100, 12, $sizes, $attrsValues);    
// }