<lote-border [title]="title" 
  [ngClass]="{'ng-invalid':!valid}"
  [gridTemplate]="gridTemplate"
>
<input [type]=inputData.inputType
    [inputTransformFn]="maskAdjustment"
    [prefix]="prefix||''"
    [suffix]="suffix||''"
    [dropSpecialCharacters]="inputData.dropMaskChars"
    [allowNegativeNumbers]="true"
    [leadZeroDateTime]="true"
    thousandSeparator="."
    decimalMarker=","
    [(ngModel)]="ngModel"
    (ngModelChange)="onNgModelChange()"
    [mask]="getMask()"
    [loteError]="!valid"
    [loteErrorMessage]="errorMessage"
  >
  <div id="lote-input-message">
    {{inputData.invalidMessage || errorMessage || '‎'}}
  </div>
</lote-border>
