<lote-border [title]="title" 
  [ngClass]="{'ng-invalid':!valid}"
  [gridTemplate]="gridTemplate"
>
<!-- [inputTransformFn]="makeSomeFixes" -->
  <input [type]=inputData.inputType
    [leadZeroDateTime]="true"
    thousandSeparator="."
    decimalMarker=","
    [(ngModel)]="ngModel"
    (ngModelChange)="onNgModelChange()"
    [mask]="getMask()"
    [dropSpecialCharacters]="inputData.dropMaskChars"
    [loteError]="!valid"
    [loteErrorMessage]="errorMessage"
  >
  <div id="lote-input-message">
    {{inputData.invalidMessage || errorMessage || '‎'}}
  </div>
</lote-border>
