@use "@angular/material" as mat;

lote-border{
  input{
    width: 100%;
    height: fit-content;
  }
}

@mixin lote-input($theme){
  $primary: none;
  $tertiary: none;
  $error: none;
  @if mat.get-theme-type($theme) == dark {
    $primary: mat.get-theme-color($theme, primary, 30);
    $tertiary: mat.get-theme-color($theme, tertiary, 50);
    $error: mat.get-theme-color($theme, error, 50);
  } @else {
    $primary: mat.get-theme-color($theme, primary, 80);
    $tertiary: mat.get-theme-color($theme, tertiary, 40);
    $error: mat.get-theme-color($theme, error, 40);
  }
  lote-input{
    lote-border{
      input{
        background: none;
        border: none;
        outline: 0;
      }
      div#lote-input-message{
        color: $error;
        font-weight: 500;
      }
      .box{
        >.parent-effect{
          >.frame::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 250ms;
            background: linear-gradient(145deg, $primary 75%, $tertiary) !important;
          }
        }
      }
      &.ng-invalid{
        .box{
          >.parent-effect{
            >.frame{
              background: linear-gradient(145deg, $error 75%, $tertiary) !important;
              opacity: 1;
            }
          }
        }
      }      
      &:focus-within{
        .box{
          >.parent-effect{
            >.frame::after{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}