@use "@angular/material" as mat;

@mixin test($theme){
  $primary: map-get($theme, primary, default);
  // $background: map-get($theme, background);


  .lote-box-wrapper{
    width: 50%;
    height: 50%;
    background-color: rebeccapurple;
  }

  // .lote-box-wrapper{
  //   // color: $background;
  //   position: relative;
  //   .lote-border {
  //     position: relative;
  //     width: 160px;
  //     height: 160px;
  //     background-color: blue;
  //     mix-blend-mode: hard-light;
  //     &.swap-blend-mode {
  //       mix-blend-mode: darken;
  //       .fake-bg {
  //         transition: none;
  //         background-color: white;
  //       }
  //     }
  //     .fake-bg {
  //       position: absolute;
  //       width: 50%;
  //       height: 50%;
  //       left: 25%;
  //       top: 25%;
  //       transition: none;
  //       background-color: rgb(127,127,127);
  //     }
  //   }
  // }
}