<svg>
  <defs>
    <filter id="turbulenceFilter" x="1" y="0" width="100%" height="100%">
      <feTurbulence id="turbulence" type="turbulence" baseFrequency="0.01" numOctaves="2" seed="2"
        [attr.baseFrequency]="turbulenceBaseFrequency" />
      <feDisplacementMap in="SourceGraphic" scale="15" />
    </filter>
    
    <filter id="waveFilter" x="0" y="0" width="100%" height="100%">
      <feDisplacementMap in="SourceGraphic" scale="20">
        <feTurbulence type="fractalNoise" baseFrequency="0.05" numOctaves="3" seed="1" 
          [attr.baseFrequency]="waveBaseFrequency" />
      </feDisplacementMap>
    </filter>
    
    <filter id="noiseFilter" x="0" y="0" width="100%" height="100%">
      <feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch" />
      <feColorMatrix type="matrix" 
      values="
        0 0 0 0 0
        0 0 0 0 0
        0 0 0 0 0
        0 0 0 0 0
      ">
      </feColorMatrix>
      <feBlend mode="multiply" in="SourceGraphic" />
    </filter>
  </defs>
</svg>