@use "@angular/material" as mat;
@use './utils/scss/lote-theme' as lote;
@import "./utils/scss/utils";

@include mat.core();

$light-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$blue-palette,
  ),
));
$dark-theme: mat.define-theme((
 color: (
    theme-type: dark,
    primary: mat.$violet-palette,
    tertiary: mat.$orange-palette,
  ),
));

:root{
  --bg: rgb(220,220,220);
  --color: rgb(50,50,50);
}

html,
body {
  height: 100%;
}
html{
  a{
    text-decoration: none;
  }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    transition: background 0.8s;

    @include mat.all-component-themes($light-theme);
    @include lote.components($light-theme);
    
    @include padStructure(5px);
    @include flexStructure(6px);
    @include stickyStructure($light-theme);

    &.dark {
      --bg: rgb(50,50,50);
      --color: rgb(220,220,220);

      @include mat.all-component-colors($dark-theme);
      @include lote.components($dark-theme);

      @include stickyStructure($dark-theme);
    }
  }
}