<div class="input-v2 border {{errorStatus}}">

  <input type="text" required 
    [ngClass]="{'input-button': type=='file'}"
    [(ngModel)]="ngModelMask"
    (ngModelChange)="onchange.next('')"
    [mask]="getMask()"
    thousandSeparator="." 
    [leadZero]="true" 
    [allowNegativeNumbers]="allowNegative"
    [leadZeroDateTime]="true"
  >

  <div class="input-icon">
    {{type == 'money' ? 'R$' : ''}}
    {{type == 'percent' ? '%' : ''}}
  </div>

  <div class="title {{errorStatus}}">{{errorMessageView != "" ? errorMessageView : title }}</div>

  <button class="border" *ngIf="type=='file'">
    <svg
      viewBox="-3 -3 30 30">
      <path 
        fill="white"
        [attr.d]="drawPathIcon"/>
    </svg>
  </button>

</div>